<!DOCTYPE html>
<html>
<head>
    <% include parts/header %>
</head>
    <body ng-app="eHospital">
      
      <div ng-controller="BarCtrl">
        
          <md-fab-speed-dial md-open="isOpen" md-direction="{{selectedDirection}}" ng-class="selectedMode" class="md-right">
            <md-fab-trigger>
              <md-button aria-label="menu" class="md-fab md-accent">
                <md-icon md-svg-src="img/icons/menu.svg"></md-icon>
              </md-button>
            </md-fab-trigger>
            <md-fab-actions>
                <md-button aria-label="Home" class="md-fab md-raised md-mini" style="background-color:#7B1FA2;" ng-click="goHome($event)">
                  <md-icon md-svg-src="img/icons/white/home3.svg" aria-label="Register"></md-icon>
                  <md-tooltip>Home</md-tooltip>
                </md-button>
                <md-button aria-label="Register" class="md-fab md-raised md-mini" style="background-color:#7B1FA2;" ng-click="showRegister($event)">
                  <md-icon md-svg-src="img/icons/white/user-plus.svg" aria-label="Register"></md-icon>
                  <md-tooltip>Register</md-tooltip>
                </md-button>
                <md-button aria-label="Login" class="md-fab md-raised md-mini" style="background-color:#1976D2;" ng-click="showLogin($event)">
                  <md-icon md-svg-src="img/icons/white/enter.svg" aria-label="Login"></md-icon>
                  <md-tooltip>Login</md-tooltip>
                </md-button>
                <md-button aria-label="About eHospital" class="md-fab md-raised md-mini" style="background-color:#689F38;">
                  <md-icon md-svg-src="img/icons/white/library.svg" aria-label="About eHospital"></md-icon>
                  <md-tooltip>About eHospital</md-tooltip>
                </md-button>
                <md-button aria-label="Prescribe Drug" class="md-fab md-raised md-mini" style="background-color:#5D4037;" ng-click="prescribe($event)">
                  <md-icon md-svg-src="img/icons/white/pencil.svg" aria-label="Prescribe Drug"></md-icon>
                  <md-tooltip>Prescribe</md-tooltip>
                </md-button>
            </md-fab-actions>
          </md-fab-speed-dial>
    </div>
        
    <ng-view></ng-view>


    <% include parts/footer %>

  </body>
</html>