<div>
  <md-content class="layout-fill gridListdemoBasicUsage">
    <md-card class="">
      <md-toolbar md-scroll-shrink>
        <div class="md-toolbar-tools">Prescriptions</div>
      </md-toolbar>
      <md-card-content>

        <md-grid-list
              md-cols-sm="1" md-cols-md="2" md-cols-gt-md="6"
              md-row-height-gt-md="1:1" md-row-height="2:2"
              md-gutter="12px" md-gutter-gt-sm="8px" >

          <p ng-show="previous.length<1">No prescriptions yet.</p>

          <md-grid-tile class="red" md-rowspan="2" md-colspan="2" md-colspan-sm="1" ng-repeat="p in previous">
            <p>{{p.language}}</p>

            <md-list>
              
              <md-list-item class="md-2-line" ng-repeat="drg in p.drugs">
                
                <div class="md-list-item-text">
                  <h1> {{ drg.name }} </h1>
                  <p>Dosage: <strong>{{drg.dosage}}</strong><br />Frequency: <strong>{{drg.times}}</strong> times every <strong>{{drg.frequency}}</strong></p>                  
                </div>

              </md-list-item>
              <button type = "submit" class="btn-primary" ng-click="reminder(previous.indexOf(p), previous[previous.indexOf(p)].drugs.indexOf(drg))">Call/Send SMS reminder</button>
            </md-list>

            <md-grid-tile-footer>
              <h3>#{{$index+1}}: Patient Phone Number: {{p.patient}}</h3>
            </md-grid-tile-footer>
          </md-grid-tile>

        </md-grid-list>
      </md-card-content>
    </md-card>
  </md-content>
</div>